<%- include("partials/header.ejs") %>

    <main>
        <div class="content-wrap">
        <div class="black-background">
            <h1 class="title">Explore Cocktails</h1>
        </div>

        <form method="POST" class="black-background px-3">
                <div class="my-3">
                    <label for="cocktailName" class="form-label body-text">Cocktail Name</label>
                    <input type="text" class="form-control" name="cocktailName">
                    <button id="search" type="submit" class="mt-4" formaction="/search-name">Search by name</button>
                    <label for="ingredient" class="form-label body-text mt-2">Ingredient Name</label>
                    <input type="text" class="form-control" name="ingredient">
                  </div>

            <div class="form-group">
                <select name="alcoholic" class="px-5 me-3">
                    <option value="alcoholic">Alcoholic</option>
                    <option value="non_alcoholic">Non-alcoholic</option>
                </select>
                <button id="search" type="submit" formaction="/filter">Filter</button>
            </div>

        <div class="random mt-2">
            <h3 class="body-text">Want to experiment?</h3>
            <button type="submit" class="my-3 py-3" formaction="/random-cocktail">Random Cocktail</button>
        </div>
        </form>
    </div>
    </main>

<%- include("partials/footer.ejs") %>